pycryptodome==3.9.8
crcmod==1.7
esdk-obs-python==3.20.11
huaweicloudsdkecs==3.0.34rc0
huaweicloudsdkvpc==3.0.34rc0
huaweicloudsdkcore==3.0.34rc0
huaweicloudsdkiam==3.0.34rc0
huaweicloudsdkces==3.0.34rc0
huaweicloudsdkims==3.0.34rc0
huaweicloudsdkeip==3.0.34rc0
huaweicloudsdkelb==3.0.34rc0
huaweicloudsdkevs==3.0.34rc0
huaweicloudsdkrds==3.0.34rc0
huaweicloudsdkdcs==3.0.34rc0
huaweicloudsdkdds==3.0.34rc0
huaweicloudsdkrabbitmq==3.0.34rc0
requests-futures==1.0.0